html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

.content {
	width: 100%;
	margin: 50pt 0 0;
}

.content {
	/* wide */
	width: 80%;
	margin: 50pt auto 0;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
}

.panel {	
	background-color: #FFF;	
	color: #000;
	margin: 0;
	border-bottom: 1px solid #AAA;
}

.panel > div { padding: 4pt 8pt; }

.panel a { color: #000; padding: 10pt 8pt; text-transform: uppercase; text-decoration: none; font-family: Tahoma; display: inline-block; }

.panel a:hover { background: #EEE; }

/* generic buttons */

.panel a.right, a.right.button { float: right; }

a.button {
	display: inline-block;
	padding: 10pt 8pt;
	width: 100pt;
	height: 14pt;

	color: #000;

	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	font-family: Tahoma;
	font-size: 12pt;
}

a.button:hover { background: #EEE; }

/* login form */

.login_form {
	max-width: 240pt;
	padding: 10pt;
	margin: 0 auto;
	/*background: #FFF;*/
	border: 1px solid #CCC;
	margin-top: 10pt;
}

.login_form form { width: 100%; font-family: Tahoma; }

.login_form form > * {
	width: 100%;
	margin: 2pt 0;
}

.login_form form input[type="text"], .login_form form input[type="password"] {
	height: 16pt;
	padding: 2pt;
	width: calc(100% - 4pt - 2px);
	border: 1px solid #CCC;
}

.login_form form input[type="submit"] {
	background: #09C;
	border: 1px solid #FFF;
	margin-top: 4pt;
	padding: 2pt;
	height: 24pt;
	display: inline-block;
	color: #FFF;
}

.login_form form input[type="submit"]:hover {
	background: #09F;
}

.login_form form + .error_message {
	background: #F30;
	border: 1px solid #FFF;
	margin: 2pt 0;
	margin-top: 4pt;
	width: calc(100% - 4pt - 2px);
	padding: 2pt;
	display: inline-block;
	color: #FFF;
}

/* query form */

.query_form {
	width: 100%;
	margin: auto auto;
	padding: 0;
}

.query_form textarea {
	padding: 4pt calc(4pt - 1px);
	width: calc(100% - 100pt - 2*10pt - 2*4pt - 2px - 2*1px);
	max-width: calc(100% - 100pt - 2*10pt - 2*4pt - 2px - 2*1px);
	min-height: calc(14pt + 2*10pt - 2*4pt - 2*1px);
	height: calc(14pt + 2*10pt - 2*4pt - 2*1px);
	margin: 0;
	margin-right: 2px;
	border: 1px solid #CCC;
}

.query_form textarea + a.button { float: right; }

.executed_query {
	background: #EEE;
	padding: 4pt;
	margin: 6pt 0 6pt 0;
}

.query_results {
	padding: 4pt;
}

/* tables */

/* list */

.entries {
	padding-bottom: 20px;
}

.entry {
	margin-bottom: 4px;
	font-size: 18pt;
	height: 40pt;
	font-family: Tahoma;
	font-style: normal;
	line-height: 40pt;
}

.entry:hover { background: #EEE; }
.entry.hidden { background: #BBB; }
.entry.hidden:hover { background: #DDD; }

.entry a > b {
	font-weight: normal; }

.entry a {
	display: block;
	height: 40pt;
}


.entry.plus_sign {height: 60pt;}
.entry.plus_sign a {display: block; padding: 5pt;}

.plus-sign {
	background:black;
	width: 5pt;
	height: 40pt;
	position:relative;
	margin: 5pt auto;
}
.plus-sign:before {
	background:black;
	content:"";
	width: 40pt;
	height: 4pt;
	position:absolute;

	top: 18pt;
	left: -17.5pt;
}

.entry.plus_sign:hover .plus-sign, .entry.plus_sign:hover .plus-sign:before { background: #0C0; }

.entry a, .entry a:visited { color: #000; }
.entry.hidden a { color: #333; }
.entry.hidden a:hover { color: #555; }

.entry b {
	padding-top: 8px;
	margin-left: 8pt;
	float: left;
}

.entry .date {
	float: right;
	margin-right: 10px;
	padding-top: 11px;
	color: #CCC;
}

.entry.hidden .date { color: #888; }

.visibility_button {
	float: right;
	text-align: center;
	width: 40pt;
	height: 40pt;
	color: #000;
	text-decoration: none;
	background: url('delete_icon_black.svg') no-repeat top 9pt center;
}

.visibility_button:hover {
	background: #F40 url('delete_icon_white.svg') no-repeat top 9pt center;
	color: #FFF;
	cursor: pointer;
}

.entry b, .entry .date {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

/* view */

/* panel */

.table_panel {
	margin: 10pt 0;
}

.table_panel h1 {
	display: inline-block;
	line-height: 40pt;
	vertical-align: baseline;
	margin: 0;
}

.table_panel span {
	margin-left: 8pt;
}

.table_panel .button, .results_table .row_control .button {
	float: right;
	width: 40pt;
	height: 40pt;
	text-decoration: none;
	padding: 0;
}

.button:hover {
	cursor: pointer;
}

.button.add { background: none; }
.button.add:hover { background: #EEE; }

.table_panel .button.add .plus-sign {
	background: #222;
	width: 3pt;
	height: 24pt;
	margin: calc((40pt - 24pt)/2) auto;
}
.table_panel .button.add .plus-sign:before {
	background: #222;
	width: 24pt;
	height: 3pt;
	top: calc((24pt - 3pt)/2);
	/*noinspection CssInvalidPropertyValue*/
	left: calc((-24pt + 3pt)/2);
}

.button.add:hover .plus-sign, .button.add:hover .plus-sign:before { background: #0C0; }

.button.edit {
	background: url('edit_icon_black.svg') no-repeat top calc(8pt + 2px) left 10pt;
}

.button.edit:hover {
	background: #EEE url('edit_icon_black.svg') no-repeat top calc(8pt + 2px) left 10pt;
}

.button.delete {
	background: url('delete_icon_black.svg') no-repeat top 9pt center;
}

.button.delete:hover {
	background: #F40 url('delete_icon_white.svg') no-repeat top 9pt center;
}

/* table */

.results_table {
	width: 100%;
	border: none;
	border-spacing: 0;
}

.results_table th, .results_table td {
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 10pt 8pt;
	min-width: 30pt;
}

.results_table td:first-child {
	border-left: 1px solid #CCC;
}

.results_table td:last-child {
	border-right: 1px solid #CCC;
}

.results_table tr:last-child td {
	border-bottom: 1px solid #CCC;
}

.results_table th {
	background: #09C;
	color: #FFF;
}

.error_message { background: #F30; }
.info_message { background: #09C; }
.gray_message { background: #EEE; color: #000; }

.error_message, .info_message, .gray_message {
	border: none;
	margin: 2pt 0;
	margin-top: 4pt;
	margin-bottom: 8pt;
	width: calc(100% - 2*5pt);
	padding: 5pt;
	display: block;
	color: #FFF;
}

/* adding entry */

.results_table input, .results_table select {
	border: 1px solid #CCC;
	margin: 0;
	height: 16pt;
	vertical-align: middle;
}

.results_table { margin-bottom: 6pt; }

.results_table input[type="checkbox"] { width: 16pt; }
.results_table input[type="text"], .results_table select { width: calc(100% - 16pt - 2*2*1px - 2*2pt); padding: 2pt; }

/* creating table */

.results_table select {
	width: calc(100% - 16pt - 2*2*1px);
	padding: 0;
}

.results_table input[type="number"] {
	width: calc(100% - 16pt - 2*2*1px - 1px);
	height: auto;
	padding: 1px 0 1px 1px;
}

.create_table_table_name_field {
	border: 1px solid #CCC;
	margin: 0;
	height: 20pt;
	vertical-align: middle;

	font-size: 14pt;
	padding: 4pt 6pt;
	margin-bottom: 8pt;
}

.results_table .row_control {
	display: none;
	z-index: 10;
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: -25pt;
	background: #CCC;
	left: 90%;
}

.results_table .row_control .button {
	height: 36pt;
	width: 36pt;
}

.results_table tr:hover .row_control {
	display: block;
}

.results_table .button.edit {
	background: url('edit_icon_black.svg') no-repeat top calc(6pt + 2px) left 8pt;
}

.results_table .button.edit:hover {
	background: #EEE url('edit_icon_black.svg') no-repeat top calc(6pt + 2px) left 8pt;
}

.results_table .button.delete {
	background: url('delete_icon_black.svg') no-repeat top 7pt center;
}

.results_table .button.delete:hover {
	background: #F40 url('delete_icon_white.svg') no-repeat top 7pt center;
}

/* composing report */

.report_form {
	padding-top: 6pt;
}

.report_form input[type="number"] {
	width: 50pt;
}

.report_form p {
	margin: 6pt 0;
}

.report_form #fields {
	margin-top: 0;
}

.report_field_selector {
	display: inline-block;
	padding: 10pt 8pt;
	min-width: 100pt;
	height: 14pt;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: Tahoma;
	font-size: 12pt;
	font-weight: bold;

	/* not selectable */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.report_field_selector input[value="off"] + span, .report_field_selector input[value="false"] + span {
	font-weight: normal;
	text-decoration: line-through;
}

.report_field_selector input {
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 0;
	height: 0;
	margin-left: -4px; /* firefox windows usual dpi what's left */
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
}

.report_field_selector:hover {
	background: #EEE;
	cursor: pointer;
}